// Fonts
$font-base: "Source Sans Pro", sans-serif, -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;

$font-Merriweather: "Merriweather", serif, $font-base;
$font-light: "300";
$font-regular: "400";
$font-bold: "700";

// Colors
$color-white: #fff;
$color-white-eee: #eee;
$color-grey-333: #333;
$color-grey-282: #282c34;
$color-grey-666: #666;
$color-grey-555: #555;
$color-grey-999: #999;
$color-grey-b3b: #b3b3b3;
$color-red: #b90017;
$color-green: #03bb03fd;

// Assets
$color-scroll-corner: rgba(0, 0, 0, 0.5);
